*{
    padding: 0%;
    margin: 0%;
    font-size: 25px;
}
body{
    background-color: rgb(127, 127, 127);
}
caption{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    text-align: center;
    margin-top: 5%;
    border: 1px solid black;
    border-collapse: collapse;
}
tr,td{
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    background-color: white;
}
.head{
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.bilnum{
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 25px;
}
button{
    margin-top: 5%;
    padding: 25px;
    width: 300px;
    background-color: rgb(32, 139, 0);
    border-radius: 30px;
    border: none;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
image{
    width: 10px;
    height: 20px;
}